# Dependencies
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/

# Database (optional - can keep or ignore)
*.db-journal

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
